<template>
  <div>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
      <label class="form-check-label" for="firstCheckbox">{{ texto }}</label>
      <button type="button" class="btn btn-secondary btn-sm" style="float: right;">✘</button>
    </li> <!--hacer un filter de vue que si el texto es de más de 50 letras ponga puntos suspensivos-->
  </div>
</template>

<script>

export default {
  name: "Test",
  created() {},
  data() {
    return {};
  },
  props: {
    texto: String
  },
  methods: {},
};
</script>

<style lang="scss" scoped></style>