<template>
    <div class="container">
      <div class="row justify-content-center p-4">
        <div class="col-lg-12">
          <figure class="text-center">
            <blockquote class="blockquote">
              <p><strong>TO DO LIST CON VUEjs</strong></p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Hecho por <cite title="Título fuente">Héctor Lapaz</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row mb-4">
        <div class="col-12">
          <ul class="list-group overflow-y-scroll border border-secundary rounded" style="max-height:50vh;">
            <Tarea v-for="tarea in tareas" :texto="tarea"></Tarea>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row p-md-3 p-sm-3 p-3 p-xl-3"></div>
    </div>
    <div class="container">
      <div class="row mb-4 justify-content-center">
        <input v-if="inputVisible == true" v-model="textoInput" @keyup.enter="insertarTarea" type="text" placeholder="Escribe tu tarea aquí!" id="input_tareas" class="border border-secundary col-4">
      </div>
      <div class="row mb-4 justify-content-center">
        <button type="button" class="btn btn-secondary col-3" @click="inputVisible= !inputVisible">✎</button>
      </div>
    </div>
</template>

<script>
import Tarea from './components/Tarea.vue';

export default {
    name: "Test",
    created() { },
    data() {
        return {
            numeroTareas: 0,
            textoInput: "",
            tareas: [],
            inputVisible: false
        };
    },
    props: {},
    methods: {
      insertarTarea(){
        this.tareas.push(this.textoInput);
        this.textoInput = "";
        if(this.tareas.length != 1){
          this.numeroTareas++
        }
        
        //debug
        //console.log(this.tareas, this.numeroTareas);
      }
    },
    components: { Tarea }
};

</script>

<style scoped>

</style>
